.header {
	position: fixed;
	z-index: 100;
	width: 100%;
	&__top {
		height: 50px;
		background: #f5f5f7;
		display: flex;
		justify-content: end;
		align-items: center;
		color: #707070;
		font-size: 14px;
		@media all and (min-width: 640px) {
			font-size: 18px;
		}

		.cart {
			display: flex;
			align-items: center;

			@media all and (min-width: 640px) {
				margin-right: 30px;
			}

			margin-right: 24px;
			&__icon {
				width: 24px;
				height: 21px;
				fill: #707070;
				margin-right: 10px;
				@media all and (min-width: 640px) {
					width: 34px;
					height: 31px;
				}
			}
		}
		button {
			font-size: 14px;
			margin-right: 30px;
			@media all and (min-width: 640px) {
				font-size: 18px;
				margin-right: 35px;
			}
		}
		span {
			width: 1px;
			height: 26px;
			background: #707070;

			margin-right: 30px;
			@media all and (min-width: 640px) {
				margin-right: 35px;
			}
		}
	}
	&__main {
		display: flex;
		height: 90px;
		align-items: center;
		color: #333;
		background: #fff;
		position: relative;
		justify-content: space-between;
		border-bottom: 1px solid #ccc;
		@media all and (min-width: 1024px) {
			height: 120px;
		}
		&.active {
			.menu {
				transform: translateX(-100%);
			}
		}
		.image {
			width: 186px;
			height: 60px;
			margin-right: 50px;
			img {
				object-fit: contain;
			}
		}
		.menu {
			padding: 0 0 50px 0;
			position: absolute;
			right: -100%;
			top: 90px;
			width: 100%;
			background: #fff;
			transition: transform 0.35s linear;
			height: calc(100svh - 140px);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			@media all and (min-width: 1024px) {
				flex-direction: row;
				width: 100%;
				position: static;
				padding: 0;
				max-width: 100%;
				height: auto;
			}
			&__links {
				font-size: 22px;
				margin-bottom: 50px;
				overflow-y: scroll;
				@media all and (min-width: 640px) {
					text-align: center;
				}

				@media all and (min-width: 1024px) {
					text-align: start;
					align-items: center;
					display: flex;
					height: auto;
					margin-bottom: 0;
				}

				li {
					cursor: pointer;
					@media all and (min-width: 1024px) {
						margin-right: 15px;
					}
					@media all and (min-width: 1440px) {
						margin-right: 25px;
					}

					&:hover {
						.accordion-content {
							max-height: 550px;
						}
					}

					.accordion-content {
						font-size: 16px;
						.lists-tittle {
							font-size: 22px;
							margin-bottom: 14px;
							font-weight: 700;
						}
						li {
							width: max-content;
							padding-bottom: 8px;
							transition: color 0.35s linear;
							@media all and (min-width: 1024px) {
								&:hover {
									color: #9d0128;
								}
							}
						}
						&__wrapper {
							padding-top: 20px;
						}
						@media all and (min-width: 1024px) {
							&__wrapper {
								padding: 20px 50px 50px 50px;
								display: flex;
								justify-content: space-between;
							}
							box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.16);
							background: #fff;
							position: absolute;
							top: 120px;
							left: size(54, 18);
							right: size(54, 18);
						}
						ul {
							flex-direction: column;
						}
					}
				}
			}
			&__link {
				@media all and (max-width: 1023px) {
					width: 100%;
					padding: 14px 25px;
					border-bottom: #707070 1px solid;
				}
			}
			.btn_red {
				max-width: 100%;
				height: 45px;
				min-height: 45px;
				background: #c14312;
				color: #fff;
				font-size: 18px;
				position: relative;
				margin: 0 25px;
				&::before {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					transition: background 0.35s linear;
					background: #9d0128;
				}
				span {
					position: relative;
					z-index: 10;
				}
				@media all and (min-width: 640px) {
					margin: 0 auto;
					width: 375px;
					font-size: 18px;
				}
				@media all and (min-width: 1024px) {
					margin: 0;
					width: 188px;
					font-size: 18px;
					&:hover {
						&::before {
							background: transparent;
						}
					}
				}
			}
		}
	}
	&__container {
		padding: 0 size(54, 18);
	}
}
.hover-color {
	transition: color 0.35s linear;
	@media all and (min-width: 1024px) {
		&:hover {
			color: #9d0128;
		}
	}
}
.accordion {
	width: max-content;
	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media all and (min-width: 640px) {
			justify-content: center;
		}

		cursor: pointer;
		span {
			width: 0;
			height: 0;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-top: 15px solid #333;
			transition: transform 0.35s linear;
			margin-left: 24px;
			@media all and (min-width: 1024px) {
				display: none;
			}
		}

		&.active {
			span {
				transform: scale(1, -1);
			}
		}
	}
	&-content {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.35s ease 0.25s;
	}
}
