@import 'typography';
@import 'colors';

$maxWidth: 1920;
$minWidth: 320;

:root {
	@media all and (min-width: 1024px) {
		--sidebar-width: 3.2rem;
		--container-gap: #{gem(24)};
		--section-padding: #{gem(50)};
		--section-padding-decrement: #{gem(-50)};
	}
	@media all and (min-width: 640px) {
		--container-gap: #{gem(16)};
		--container-gap-decrement: #{gem(-16)};
		--header-height: #{gem(108)};
		--header-height-decrement: #{gem(-108)};
	}
	//Base

	--header-height: #{gem(96)};
	--header-height-decrement: #{gem(-96)};
	--container-gap: #{gem(40)};
	--container-gap-decrement: #{gem(-40)};
	--section-padding: #{gem(70)};
	--section-padding-decrement: #{gem(-70)};
}
